<ion-view view-title="Biaya Lain-Lain">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <strong>Rincian Biaya Lain-Lain </strong>
      </div>
      <div class="item item-text-wrap">
         <p><strong>Layanan Sistem Informasi dan Internet :</strong></p>
         <p>Rp 150.000,- per semester</p><br/>
         <p><strong>Dana Kesejahteraan dan Pembinaan Kemahasiswaan :</strong></p>
         <p>Rp 800.000,- semester 1</p><br/>
         <p><strong>Dana Kesejahteraan dan Asuransi Kecelakaan :</strong></p>
         <p>Rp 150.000,- per semester</p><br/>
         <p><strong>Introduction to College English (ICE) :</strong></p>
         <p>Rp 500.000,- per level</p><br/><br/>

         <pre><strong>Bagi yang tinggal di asrama</strong></pre><br/>
         <p><strong>Biaya hidup (kamar, makan dan transportasi) :</strong></p>
         <p>Rp 700.000,- per bulan</p><br/>
         <p><strong>Uang pangkal :</strong></p>
         <p>Rp 350.000,- sekali bayar</p><br/>
         <p><strong>Uang jaminan (dikembalikan saat keluar dari Asrama) :</strong></p>
         <p>Rp 250.000,- sekali bayar</p><br/>
         <p><strong>Pembinaan Asrama :</strong></p>
         <p>6 sks untuk Teologi</p>
         <p>4 sks untuk Non Teologi</p>
      </div>
    </div>
  </ion-content>
</ion-view>