<ion-view view-title="Home">
  <ion-content>
  <div class="tepi">
    <div class="tengah">
      <img src="assets/ukdw.png" alt="Logo UKDW">
    </div>
    <h4><center>Selamat datang<br/>
      di Penerimaan Mahasiswa Baru<br/>
      Universitas Kristen Duta Wacana</center></h4>
    <p class="italic">Ini merupakan aplikasi pendaftaran mahasiswa baru Universitas Kristen Duta Wacana. Anda bisa mencari informasi atau melakukan pendaftaran melalui tombol menu.</p>

    <h5 class="text-maroon">Mengapa Memilih UKDW?</h5>
    <div class="rata">
      <p> <strong>1. Pembangunan Pribadi</strong> </p>
      <p>Sistem pendidikan di Indonesia menerapkan kurikulum nasional, sehingga hampir 60-70 persen matakuliah sama. Jadi tingkat keilmuan dan keterampilan para lulusan hampir berimbang. Anda membutuhkan keunikan dan keunggulan yang berasal dari diri sendiri, maka Anda membutuhkan universitas yang mampu membentuk pribadi dan softskill Anda, disamping membentuk hardskill berupa intelektualitas dan keterampilan Anda.<br/><br/>
      UKDW memvariasikan sistem kurikulum itu melalui dukungan non akademik dengan mewajibkan setiap mahasiswanya untuk mengikuti berbagai kegiatan pengembagan diri diluar kegiatan akademik seperti Orientasi Kehidupan Akademik (OKA), Program Pelatihan Pengembangan Diri Mahasiswa (P3DM), Program Pelatihan Kepemimpinan Mahasiswa (P2KM), Program Latihan Keterampilan Manajemen Mahasiswa (PLKMM), dan Program Pelatihan Spiritual Mahasiswa (P2SM)</p>
      <p> <strong>2. Lintas Program Studi</strong> </p>
      <p> Dunia kerja tidak dapat lagi didekati dengan satu bidang keilmuan, karena telah terjadi konvergensi (penggabungan) antar bidang ilmu. Konsentrasi memang diperlukan, tetapi keluasan wawasan juga akan memperkaya diri Anda, maka Anda membutuhkan universitas yang memiliki muatan kurikulum lokal lintas program studi, sehingga Anda dapat menjawab kebutuhan riil dunia kerja.</p>
      <p>UKDW menawarkan berbagai macam matakuliah program studi di setap fakultas. tentu saja kelas-kelas yang dibuka sudah disesuaikan dengan keperluan dari mahasiswa</p>
      <p> <strong>3. Berpikir Global</strong> </p>
      <p>Gelombang globalisasi tidak tertahankan lagi, sehingga Anda harus siap untuk menjawab tantangan global. Menuju globalisasi tidak cukup hanya berbekal bahasa internasional, tetapi juga membutuhkan pola pikir dan wawasan internasional, maka Anda membutuhkan tidak hanya universitas dengan standar dan bereputasi internasional, tetapi universitas yang mampu mempersiapkan Anda untuk berpikir dan menjawab isu-isu global.</p>
      <p>UKDW berpartner dengan berbagai pihak dan menyediakan pelatihan-pelatihan yang memberikan kepada para Mahasiswa nya sertifikasi Internasional, kemudian juga memasukkan sertifikasi satu paket dengan perkuliahan yang ada.</p>
      <p><strong>4. Keseimbangan Teori dan Praktek</strong> </p>
      <p>Lompatan karir dan bisnis tidak mungkin dilakukan bilamana Anda tidak memiliki keseimbangan dalam penguasaan teori dan praktek, maka Anda membutuhkan universitas yang memiliki sistem kurikulum dengan keseimbangan teori dan praktek, serta menumbuhkan kemampuan untuk mencipta (kewirausahaan).</p>
    </div>
  </div>
  </ion-content>
</ion-view>