<ion-view view-title="Informasi">
  <ion-content>
    <div class="list">
    	<a class="item item-icon-right" href="#/app/informasi/prodi">
    	    Program Studi yang Ditawarkan
    	    <i class="icon ion-chevron-right"></i>
    	</a>
    	<a class="item item-icon-right" href="#/app/informasi/jadwal">
    	    Jadwal Test
    	    <i class="icon ion-chevron-right"></i>
    	</a>
    	<a class="item item-icon-right" href="#/app/informasi/biaya">
    	    Biaya Lain-Lain
    	    <i class="icon ion-chevron-right"></i>
    	</a>
    </div>
  </ion-content>
</ion-view>