<ion-view view-title="Jadwal Test">
  <ion-content>
    <div class="card">
    	<div class="item item-divider maroon">
        	<strong>Reguler 1</strong>
      	</div>
      	<div class="item item-text-wrap">
         	<pre>8 Mei 2015</pre>
         	<pre>22 Mei 2015</pre>
         	<pre>29 Mei 2015</pre>
         	<pre>5 Juni 2015</pre><br/>
         	<p>Tes Potensi Akademik : 07.30 - 09.30</p>
         	<p>Tes Bahasa Inggris : 10.00 - 11.00</p>
         	<p>Wawancara : 11.30 - selesai</p>
      	</div>
     </div>
     <div class="card">
    	<div class="item item-divider maroon">
        	<strong>Reguler 2</strong>
      	</div>
      	<div class="item item-text-wrap">
         	<pre>12 Juni 2015</pre>
         	<pre>19 Juni 2015</pre>
         	<pre>26 Juni 2015</pre>
         	<pre>3 Juli 2015</pre>
         	<pre>10 Juli 2015</pre><br/>
         	<p>Tes Potensi Akademik : 07.30 - 09.30</p>
         	<p>Tes Bahasa Inggris : 10.00 - 11.00</p>
         	<p>Wawancara : 11.30 - selesai</p>
      	</div>
     </div>
     <div class="card">
    	<div class="item item-divider maroon">
        	<strong>Reguler 3</strong>
      	</div>
      	<div class="item item-text-wrap">
         	<pre>24, 31 Juli 2015</pre>
         	<pre>31 Juli 2015</pre>
         	<pre>7 Agustus 2015</pre>
         	<pre>14 Agustus 2015</pre><br/>
         	<p>Tes Potensi Akademik : 07.30 - 09.30</p>
         	<p>Tes Bahasa Inggris : 10.00 - 11.00</p>
         	<p>Wawancara : 11.30 - selesai</p>
      	</div>
     </div>
     </div>
     <!-- <h4>Reguler 1</h4>
     <pre>8 Mei 2015</pre>

     <h4>Reguler 2</h4>
     <pre>12 Juni 2015</pre>

     <h4>Reguler 3</h4>
     <pre>24 Juli 2015</pre> -->
  </ion-content>
</ion-view>