<ion-view view-title="Kontak Kami">
  <ion-content>
	<div class="box">
		<h3>Informasi PMB</h3>
		<p>Kantor Humas & Admisi UKDW <br/>
		Jl. Dr. Wahidin 5-25 Yogyakarta 55224<br/>
		Telp & Fax: 0274 550657<br/>
		SMS: 0838 4015 7354<br/>
		Email: pmb@staff.ukdw.ac.id</p>

		<strong>Jam Layanan</strong>
		<p>08.00 - 14.00 (Senin / Jumat)<br/>
		08.00 - 12.00 (Sabtu*)<br/>
		*sesuai jadwal Tanggal Pengambilan Hasil Tes</p>

		<i class="fa fa-facebook-square fa-2x"> </i> Universitas Kristen Duta Wacana<br/>
		<i class="fa fa-twitter-square fa-2x"> </i> @UKDW
	</div>
  </ion-content>
</ion-view>