<ion-view view-title="Pendaftaran">
  <ion-content>
    <div class="tengah">Bagian 2 dari 3</div>
    <h4><pre>Bagian II: Data Orang Tua / Wali</pre></h4>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nama Lengkap</span>
        <input type="text" placeholder="Nama lengkap orang tua / wali" maxlength="50" ng-model="dataPendaftar2.namaOrtu">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Alamat</span>
        <input type="text" placeholder="Alamat orang tua / wali" ng-model="dataPendaftar2.alamatOrtu">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">No. Telepon</span>
        <input type="tel" placeholder="Nomor telepon orang tua / wali">
      </label>
      <label class="item item-select item-stacked-label">
        <span class="input-label">Pekerjaan</span>
        <select id="" name="">
            <option ng-repeat="pekerjaan in pekerjaans" ng-value="{{pekerjaan.value}}">{{pekerjaan.name}}</option>
        </select>
      </label>
      <br/>
      <div class="box tengah"><button class="button button-balanced" ng-click="gotoNextDaftar3()">Lanjut</button></div>
      
    </div>
  </ion-content>
</ion-view>