<ion-view view-title="Program Studi">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <strong>Fakultas Kedokteran</strong>
      </div>
      <div class="item item-text-wrap">
         <pre>Program Studi Pendidikan Dokter</pre><br/>
         <p>Status Akreditasi: Terakreditasi "C" BAN-PT SK No.2901/D/T/K-V/2010</p>
         <p>Syarat Lulusan: SMA IPA</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>Fakultas Theologia</strong>
      </div>
      <div class="item item-text-wrap">
         <pre>Program Studi Teologi</pre><br/>
         <p>Status Akreditasi: Terakreditasi "B" BAN-PT SK No.9576/D/T/K-V/2011 Terakreditasi ATESEA</p>
         <p>Syarat Lulusan: SMA/SMK semua jurusan/sederajat</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>Fakultas Bisnis</strong>
      </div>
      <div class="item item-text-wrap">
         <pre>Program Studi Manajemen</pre><br/>
         <p>Status Akreditasi: Terakreditasi "B" BAN-PT SK No.11393/D/T/K-V/2012</p>
         <p>Syarat Lulusan: SMA/SMK semua jurusan/sederajat</p>
      </div>
      <div class="item item-text-wrap">
         <pre>Program Studi Akuntansi</pre><br/>
         <p>Status Akreditasi: Terakreditasi "B" BAN-PT SK No.1726/D/T/K-V/2010</p>
         <p>Syarat Lulusan: SMA/SMK semua jurusan/sederajat</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>Fakultas Arsitektur Dan Desain</strong>
      </div>
      <div class="item item-text-wrap">
         <pre>Program Studi Teknik Arsitektur</pre><br/>
         <p>Status Akreditasi: Terakreditasi "A" BAN-PT SK No.11391/D/T/K-V/2012</p>
         <p>Syarat Lulusan: SMA/SMK semua jurusan/sederajat</p>
      </div>
      <div class="item item-text-wrap">
         <pre>Program Studi Desain Produk</pre><br/>
         <p>Status Akreditasi: Terakreditasi "C" BAN-PT SK No.9577/D/T/K-V/2011</p>
         <p>Syarat Lulusan: SMA/SMK semua jurusan/sederajat</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>Fakultas Teknologi Informasi</strong>
      </div>
      <div class="item item-text-wrap">
         <pre>Program Studi Teknik Informatika</pre><br/>
         <p>Status Akreditasi: Terakreditasi "B" BAN-PT SK No.7765/D/T/K-V/2011</p>
         <p>Syarat Lulusan: SMA/SMK semua jurusan/sederajat</p>
      </div>
      <div class="item item-text-wrap">
         <pre>Program Studi Sistem Informasi</pre><br/>
         <p>Status Akreditasi: Terakreditasi "B" BAN-PT SK No.7766/D/T/K-V/2011</p>
         <p>Syarat Lulusan: SMA/SMK semua jurusan/sederajat</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>Fakultas Bioteknologi</strong>
      </div>
      <div class="item item-text-wrap">
         <pre>Program Studi Biologi</pre><br/>
         <p>Status Akreditasi: Terakreditasi "A" BAN-PT SK No.11392/D/T/K-V/2012</p>
         <p>Syarat Lulusan: SMA/SMK semua jurusan/sederajat</p>
      </div>
    </div>
  </ion-content>
</ion-view>